{% extends 'base.html.twig' %}

{% block body %}
  <h1>Jira reporting tool</h1>
  <section>
    <ul>
      <li>Go to sprints for <a href="/board/{{ defaultBoard.id }}">{{ defaultBoard.name }}</a>.</li>
      <li>Go to <a href="{{ path('boards') }}">all boards</a>.</li>
      <li>Go to <a href="{{ path('planning', {boardId:defaultBoard.id}) }}">planning ({{ activeSprintName }})</a>.</li>
    </ul>
  </section>
{% endblock %}