{% extends 'base.html.twig' %}

{% block body %}
  <div id="app" class="app">

    <div class="loader-wrapper" v-if="loading">
      <div class="loader">Loading...</div>
    </div>

    <h1>{{ 'planning.headline.headline' | trans }}</h1>

    <div class="planning-section">
      <h2>{{ 'planning.headline.users' | trans }}</h2>

      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="table-projects">
          <thead>
          <tr>
            <th colspan="3">
              <button class="btn btn-primary" type="button"
                      data-toggle="collapse" data-target=".users-collapsable">
                <i class="fas fa-expand-arrows-alt"></i></button>
            </th>
            <th v-html="sprint.name" v-for="sprint in sprints"></th>
          </tr>
          </thead>
          <tbody v-for="user in users">
          <tr>
            <td data-toggle="collapse" :href="'.users-' + user.key">
              <strong v-html="user.displayName"></strong>
              <i class="fas fa-expand-arrows-alt toggle"></i>
            </td>
            <td></td>
            <td></td>
            <td v-html="getRemainingEstimatUser(user, sprint)"
                v-bind:class="[
                  {'remaining-warning': getRemainingEstimatUser(user, sprint) > 28 && getRemainingEstimatUser(user, sprint) <= 30},
                  {'remaining-danger': getRemainingEstimatUser(user, sprint) > 30 },
                  {'remaining-success': getRemainingEstimatUser(user, sprint) >= 24 && getRemainingEstimatUser(user, sprint) <= 28 }
                  ]"
                v-for="sprint in sprints"></td>
          </tr>
          <template v-for="project in user.projects">
            <tr class="collapse"
                :class="'users-' + user.key + ' users-collapsable'">
              <td></td>
              <td><strong v-html="project.name"></strong></td>
              <td></td>
              <td :colspan="sprints.length"></td>
            </tr>
            <tr class="collapse" v-for="issue in project.users[user.key].issues"
                :class="'users-' + user.key + ' users-collapsable'">
              <td></td>
              <td style="padding-left: 1em"><span
                    v-html="issue.fields.summary"></span></td>
              <td><a :href="'{{ jiraUrl }}/browse/' + issue.key"><span
                      v-html="issue.key"></span></a></td>
              <td v-html="getRemainingEstimatIssue(sprint, issue)"
                  v-for="sprint in sprints"></td>
            </tr>
          </template>
          </tbody>
        </table>
      </div>
    </div>

    <div class="planning-section">
      <h2>{{ 'planning.headline.projects' | trans }}</h2>

      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="table-projects">
          <thead>
          <tr>
            <th colspan="3">
              <button class="btn btn-primary" type="button"
                      data-toggle="collapse" data-target=".project-collapsable">
                <i class="fas fa-expand-arrows-alt"></i>
              </button>
            </th>
            <th v-html="sprint.name" v-for="sprint in sprints"></th>
          </tr>
          </thead>
          <tbody v-for="project in projects">
          <tr>
            <td data-toggle="collapse" :href="'.projects-' + project.id">
              <strong v-html="project.name"></strong>
              <i class="fas fa-expand-arrows-alt toggle"></i>
            </td>
            <td></td>
            <td></td>
            <td v-html="getRemainingEstimat(project, sprint)"
                v-for="sprint in sprints"></td>
          </tr>
          <template v-for="user in project.users">
            <tr class="collapse"
                :class="'projects-' + project.id + ' project-collapsable'">
              <td></td>
              <td><strong v-html="user.displayName"></strong></td>
              <td></td>
              <td :colspan="sprints.length"></td>
            </tr>
            <tr class="collapse" v-for="issue in user.issues"
                :class="'projects-' + project.id + ' project-collapsable'">
              <td></td>
              <td style="padding-left: 1em"><span
                    v-html="issue.fields.summary"></span></td>
              <td><a :href="'{{ jiraUrl }}/browse/' + issue.key"><span
                      v-html="issue.key"></span></a></td>
              <td v-html="getRemainingEstimatIssue(sprint, issue)"
                  v-for="sprint in sprints"></td>
            </tr>
          </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/planning.css') }}">
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="js/vue-2.5.16.min.js"></script>
  <script src="js/axios-0.18.0.min.js"></script>
  <script src="js/planning.js"></script>
{% endblock %}
