{% extends 'base.html.twig' %}

{% block body %}
  <div class="container-fluid" style="margin: 2em">
    <h1 style="margin-bottom: 1em">Sprintrapport</h1>
    <div class="row">
      <div class="col">
        <div>
          <h3>Overblik:</h3>
          <table class="table">
            <tbody>
            <tr>
              <td><strong>Projekt: </strong></td>
              <td>{{ project.name }}</td>
            </tr>
            <tr>
              <td><strong>Bestilling: </strong></td>
              <td>{{ version.name }}</td>
            </tr>
            <tr>
              <td><strong>Salgsbudget: </strong></td>
              <td><input type="number" id="input-budget"
                         style="width: 200px; border: 0"></td>
            </tr>
            <tr>
              <td><strong>Timer reg. total: </strong></td>
              <td>
                <span id="spent_hours">{{ spentHours }}</span>
              </td>
            </tr>
            <tr>
              <td><strong>Resterende timer planlagt total: </strong></td>
              <td id="remaining_hours">
                {{ remainingHours }}
              </td>
            </tr>
            <tr>
              <td><strong>Projektets timer: </strong></td>
              <td id="project_hours">
                {{ spentHours + remainingHours }}
              </td>
            </tr>
            <tr>
              <td><strong>Færdiggørelsesgrad (%): </strong></td>
              <td><input type="number"
                         id="input_finished_degree"
                         max="100" min="0" style="width: 200px; border: 0;">
              </td>
            </tr>
            <tr>
              <td><strong>Project total forecast: </strong></td>
              <td><span id="project_total_forecast"></span></td>
            </tr>
            <tr>
              <td><strong>Over/underløb - index: </strong></td>
              <td><span id="over_under_index"></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <h3>Projektets faser:</h3>
      <table class="table">
        <thead>
        <tr>
          <th>EPIC</th>
          <th>Est.</th>
          <th>Resterende arbejde est.</th>
          <th>Registreret</th>
        </tr>
        </thead>
        <tbody>
        {% for epic in epics %}
          <tr>
            <td>{{ epic.name }}</td>
            <td>{{ epic.originalEstimateSum / 60 / 60 }}</td>
            <td>{{ epic.remainingSum / 60 / 60 }}</td>
            <td>{{ epic.spentSum / 60 / 60 }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <h3>Forbrugt pr. uge:</h3>
      <table class="table">
        <thead>
        <tr>
          <th>EPIC</th>
          <th>Est.</th>
          <th>Reg.</th>
          <th>Ingen sprint</th>
          {% for sprint in sprints|reverse %}
            {% if sprint.state != 'FUTURE' %}
              <th>{{ sprint.shortName }}</th>
            {% endif %}
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for epic in epics %}
          <tr>
            <td>{{ epic.name }}</td>
            <td>{{ epic.originalEstimateSum / 60 / 60 }}</td>
            <td>{{ epic.spentSum / 60 / 60 }}</td>
              <td>
                {% if epic.worklogs is defined %}
                  {% set loggedWork = 0 %}
                  {% for key, worklogs in epic.worklogs %}
                    {% if key == 'NoSprint' %}
                      {% for worklog in worklogs %}
                        {% set loggedWork = loggedWork + worklog.timeSpentSeconds %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                  {% if loggedWork > 0 %}
                    {{ loggedWork / 60 / 60 }}
                  {% endif %}
                {% endif %}
              </td>
            {% for sprint in sprints|reverse %}
              {% if sprint.state != 'FUTURE' %}
                <td>
                  {% if epic.worklogs is defined %}
                    {% set loggedWork = 0 %}
                    {% for key, worklogs in epic.worklogs %}
                      {% if key == sprint.id %}
                        {% for worklog in worklogs %}
                          {% set loggedWork = loggedWork + worklog.timeSpentSeconds %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    {% if loggedWork > 0 %}
                      {{ loggedWork / 60 / 60 }}
                    {% endif %}
                  {% endif %}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
      <h3>Planlagt pr. uge:</h3>
      <table class="table">
        <thead>
        <tr>
          <th>EPIC</th>
          <th>Est.</th>
          <th>Rest. arb.</th>
          {% for sprint in sprints|reverse %}
            {% if sprint.state == 'FUTURE' %}
              <th>{{ sprint.shortName }}</th>
            {% endif %}
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for epic in epics %}
          <tr>
            <td>{{ epic.name }}</td>
            <td>{{ epic.originalEstimateSum / 60 / 60 }}</td>
            <td>{{ epic.remainingSum / 60 / 60 }}</td>
            {% for sprint in sprints|reverse %}
              {% if sprint.state == 'FUTURE' %}
                <td>
                  {% set sprintRemainingSum = 0 %}
                  {% for issue in issues %}
                    {% if issue.epic.id == epic.id and issue.sprints|length %}
                      {% if ((issue.sprints|last).id == sprint.id) %}
                        {% set sprintRemainingSum = sprintRemainingSum + issue.fields.timetracking.remainingEstimateSeconds %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  {% if sprintRemainingSum > 0 %}
                    {{ sprintRemainingSum / 60 / 60 }}
                  {% endif %}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
      (function () {
          function updateNumbers () {
              var spentHours = parseFloat(document.querySelector('#spent_hours').innerHTML);
              var finishedDegree = parseFloat(document.querySelector('#input_finished_degree').value);
              var sales_budget = parseFloat(document.querySelector('#input-budget').value);

              var forecast = null;
              var over_under = null;

              if (finishedDegree > 0) {
                  forecast = spentHours / finishedDegree * 100;

                  document.querySelector('#project_total_forecast').innerHTML = '' + forecast.toFixed(2);
              }

              if (sales_budget > 0 && forecast != null) {
                  over_under = forecast / sales_budget;

                  document.querySelector('#over_under_index').innerHTML = '' + over_under.toFixed(2);
              }
          }

          document.querySelector('#input_finished_degree')
              .addEventListener('blur', updateNumbers);
          document.querySelector('#input-budget')
              .addEventListener('blur', updateNumbers);
      })();
  </script>
{% endblock %}
