{% extends 'base.html.twig' %}

{% block body %}
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  {% endblock %}

  {% block javascripts %}
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/sprint-report.js"></script>
  {% endblock %}

  <h1>Sprint report - {{ sprint.name }}</h1>
  <div>
    {{ sprint.startDate | date("d/m/Y") }} - {{ sprint.endDate | date("d/m/Y") }}

    <div>
      <h4>Vælg et projekt</h4>
      <select id="projectSelect">
        <option value="">--Ingen--</option>
        {% for project in projects %}
          <option value="{{ project.id }}">{{ project.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% for project in projects %}
    <div class="js-project js-project-{{ project.id }}">
      <h3>{{ project.name }} ({{ project.id }})</h3>
      <table class="sprint-report--table">
        <thead>
        <th>Epic</th>
        <th>Issue</th>
        <th>Beskrivelse</th>
        <th>Estimat (timer)</th>
        <th>Forbrugt (timer)</th>
        </thead>
        <tbody>
        {% set sumtime = 0 %}
        {% set sumestimate = 0 %}

        {% for issue in project.issues %}
          {% set sumtime = sumtime + issue.fields.timespent %}
          {% set sumestimate = sumestimate + issue.fields.timeoriginalestimate %}
          <tr>
            {% if issue.fields.epic.name is defined %}
              <td>{{ issue.fields.epic.name }}</td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{ issue.key }}</td>
            <td>{{ issue.fields.summary }}</td>
            <td>{{ issue.fields.timeoriginalestimate / 3600 }}</td>
            <td>{{ issue.fields.timespent / 3600 }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><b>I alt</b></td>
          <td></td>
          <td></td>
          <td>{{ sumestimate / 3600 }}</td>
          <td>{{ sumtime / 3600 }}</td>
        </tr>
        </tbody>
      </table>

      <h3>Næste sprint</h3>

      <table class="sprint-report--table">
        <thead>
        <th>Epic</th>
        <th>Issue</th>
        <th>Beskrivelse</th>
        <th>Planlagt (timer)</th>
        </thead>
        <tbody>
        {% set sumtime = 0 %}
        {% set sumestimate = 0 %}

        {% for issue in project.next_issues %}
          {% set sumestimate = sumestimate + issue.fields.timeoriginalestimate %}
          <tr>
            {% if issue.fields.epic.name is defined %}
              <td>{{ issue.fields.epic.name }}</td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{ issue.key }}</td>
            <td>{{ issue.fields.summary }}</td>
            <td>{{ issue.fields.timeoriginalestimate / 3600 }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><b>I alt</b></td>
          <td></td>
          <td></td>
          <td>{{ sumestimate / 3600 }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}