{% extends 'base.html.twig' %}

{% block body %}
  <div>
    <strong>Projekt: </strong><span>{{ project.name }}</span>
  </div>
  <div>
    <strong>Bestilling: </strong>
    <span>{{ version.name }}</span>
  </div>
  {% if version.description is defined %}
    <div>
      <strong>Beskrivelse: </strong>
      <p>{{ version.description }}</p>
    </div>
  {% endif %}

  <div>
    <strong>Salgsbudget: </strong><input type="number" id="input-budget">
  </div>
  <div>
    <div>
      <strong>Timer reg. total: </strong>
      <span id="time_spent">
        {{ spentHours }}
      </span>
    </div>

    <div>
      <strong>Resterende timer planlagt total: </strong>
      <span id="remaining_hours">
        {{ remainingHours }}
      </span>
    </div>
  </div>
  <div>
    <strong>Færdiggørelsesgrad (%): </strong>
    <input type="number"
           id="input_finished_degree"
           max="100" min="0">
  </div>
  <div>
    <strong>Project total forecast: </strong>
    <span id="project_total_forecast"></span>
  </div>

  <div>
    <h3>Projektets faser:</h3>
    <table class="table">
      <thead>
      <tr>
        <th>EPIC</th>
        <th>Est.</th>
        <th>Resterende arbejde est.</th>
        <th>Registreret</th>
      </tr>
      </thead>
      <tbody>
      {% for epic in epics %}
        <tr>
          <td>{{ epic.name }}</td>
          <td>{{ epic.originalEstimateSum / 60 / 60 }}</td>
          <td>{{ epic.remainingSum / 60 / 60 }}</td>
          <td>{{ epic.spentSum / 60 / 60 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {{ dump(issues[39]) }}
  {{ dump(epics) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
      (function() {
          document.querySelector('#input_finished_degree').addEventListener('blur',function(){
              var remainingHours = parseFloat(document.querySelector('#remaining_hours').innerHTML);
              var finishedDegree = parseFloat(document.querySelector('#input_finished_degree').value);
              var forecast = remainingHours / finishedDegree * 100;

              console.log(remainingHours, finishedDegree, forecast);

              document.querySelector('#project_total_forecast').innerHTML = "" + forecast.toFixed(2);
          });
      })();
  </script>
{% endblock %}
